<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Prediction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/path/to/dist/calendarify.min.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href=
        "https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">

   
</head>

<body>
    <nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
        <a class="navbar-brand font-bold" href="#" style="color: red; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;">FLIGHT TICKET PRICE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" style="color: black;">
                    <a class="nav-link" href="#" style="color: grey;"><i class="fa fa-envelope"></i> Contact <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: grey;"><i class="fa fa-gear"></i> Settings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: grey;"><i class="fa fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-cyan"
                        aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="#">My account</a>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
 
    
    <!-- As a heading -->

<div style="width: fit-content;margin-top: 100px;position: relative;margin-left: 40px;">

   
    <div class="shadow p-2 mb-6 bg-white rounded" id="card_body" ><span class="main-heading" >Book Flights</span>
        <form action="\predict" method="post">
             <ul> 
                 <li class="" style="display: inline;">
                    <div id="depart_contain">
                        <ul>
                       <li><span class="label"> Depart from</span></li>
                            <li>
                                    <select class="text_field" type="text" name="Source" id="Source" list="location" placeholder="Enter Here" >
                                        {% for i in City%}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                        


                            </select>
                            </li>
                    </ul>
                    </div>
                </li>
                <li><span class="icon">
                    <i class="material-icons"></i>
                  </span></li>
                <li style="display: inline;">
                    <div id="dest_contain">
                        <ul>
                       <li><span class="label">Going to</span></li>
                            <li>
                                    <input class="text_field" type="text" style="text-align: end;" list="location" name="Destination" id="Destination"  placeholder="Enter Here" />
                                      <datalist id="location">
                                    {% for i in Desti%}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %} 
                                    </datalist>
                            </li>
                    </ul>
                    </div>
                </li>
           </ul>
           <ul> 
            <li class="" style="display: inline;">
               <div id="depart_contain">
                   <ul>
                  <li><span class="label">Departure Date</span></li>
                       <li>
                               <input class="text_field" type="date" name="Dep_Time" id="Dep_Time" placeholder="Enter Here" />
                               
                       </li>
               </ul>
               </div>
           </li>
           <li style="display: inline;">
               <div id="dest_contain">
                   <ul>
                  <li><span class="label">Return</span></li>
                       <li>
                               <input class="text_field" type="date" name="Arrival_Time" id="Arrival_Time"  placeholder="Enter Here" />
                               
                       </li>
               </ul>
               </div>
           </li>
      </ul>
      
         </ul>
 
           <div id="traveller" style="position: relative;margin-left: -30px;">
               <ul>
              <li><span class="label">1 Traveller(s), Class</span></li>
                   <li>
                    <div  class="parentDiv">
                        <div style="color:black">
                <span class="text" >1 Travelller, Economy</span>
                <span class="icon">
                  <i class="material-icons">expand_more</i>
                </span>
            </div>
                    </div>
                                    
           </div>
         
        <div style="margin-left: 15px;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Non Stop Flight</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"style="background-color: red;" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Student Fare</label>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
            <label class="form-check-label" for="inlineCheckbox3">Armed Forces</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
            <label class="form-check-label" for="inlineCheckbox4">Senior Citizen</label>
          </div>
        </div>
  <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
    </div>
  

<div id="slide" >
    
        <p style="text-align: center; font-size: 24px;font-weight: bold; font-family: 'Times New Roman', Times, serif;margin-left: 0px; margin-top: 0px;">Some of best place to visit !</p>
    
            <ul class="slideshow">
                <li class="slid_img"><span class="img_link" > 
                      <p style="width: 100%;bottom: 0;position:absolute ; text-align: center;padding: 10px; color: #f0e5e5;background-color: black; font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; ">TAJMAHAL AGRA</p>
                </span></li>
              <li class="slid_img"><span>
                <p style="width: 100%;bottom: 0; position:absolute ; text-align: center;padding: 10px; color: #f0e5e5;background-color: black; font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; ">THE RED FORT DELHI</p>
            </span ></li>
                <li class="slid_img"><span>
                    <p style="width: 100%;bottom: 0; position:absolute ; text-align: center;padding: 10px; color: #f0e5e5;background-color: black; font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; ">THE GREAT WAY MUMBAI</p>
            
                </span></li>
                <li class="slid_img"><span>
                    <p style="width: 100%;bottom: 0; position: absolute; text-align: center;padding: 10px; color: #f0e5e5;background-color: black; font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; ">AMRITSAR PUNJAB</p>
            
                </span></li>
                <li class="slid_img"><span>
                    <p style="width: 100%;bottom: 0;position: absolute; text-align: center;padding: 10px; color: #f0e5e5;background-color: black; font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; ">GOA</p>
            
                </span></li>
            </ul>
            
</div>
   
    </div>
   
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>